<!-- Views/Home/Index.cshtml -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h2>Welcome to OWIS</h2>
    <hr />

    <a href="#" id="employeeLink" class="btn btn-primary">Employee</a>
    <a href="#" id="departmentLink" class="btn btn-secondary">Department</a>
    <a href="#" id="salaryLink" class="btn btn-success">Salary</a>
</div>

<!-- Load Employee Modal -->
@Html.Partial("EmployeeModals/_EmployeeModal")
@section Scripts {
    <script src="~/js/employee.js"></script>
}

